.blogVideo {
  background: #555;
  overflow: hidden;
  border-radius: 14px;
  aspect-ratio: 16/9;
  position: relative;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
